rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Admins can read/write anything
    function isAdmin() {
      return exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }
    
    // Users can only read/write their own data
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    
    // Users can create orders, admins can read all orders
    match /orders/{orderId} {
      allow create: if request.auth != null;
      allow read, write: if isAdmin();
    }
    
    // Public read for admins collection document count, only admins can write
    match /admins/{adminId} {
        allow read: if true;
        allow write: if isAdmin();
    }
     match /admins/admin_count {
        allow read: if true;
        allow write: if request.auth != null; // Allow creation of the first admin
    }
  }
}
